<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/blogs.css" />
    <title>BlogSpot</title>
  </head>
  <body>
    <div class="page-wrapper home">
      <%- include('navbar', user) %>

      <!-- section 1 -->
      <section class="blog_section-1 banner flex section-padding">
        <div class="banner-content flex flex-center flex-col">
          <h1>Explore Our Latest Blogs</h1>
          <p class="para-font">
            Welcome to the Blogs section of BlogSpot! Here, you can dive into
            our ever-growing collection of articles, stories, and insights.
            Whether you're looking for practical tips, expert opinions, or
            creative inspiration, you'll find it all here. Browse through our
            latest posts or use the categories to discover content tailored to
            your interests.
          </p>

          <div class="scroll-icon flex flex-center">
            <div class="icon">
              <img src="/images/orange-scroll.png" alt="" />
            </div>
            <P>Scrool Down</P>
          </div>
        </div>
      </section>

      <!-- section 2 -->

      <!-- section 3 -->

      <!-- section 4 -->
      <section class="blog_section-3 section section-padding flex">
        <div class="filter_container flex">
          <form action="" method="GET" class="search_form flex">
            <input type="text" name="search" placeholder="Search..." />
            <button type="submit"><i class="ri-search-line"></i></button>
          </form>

          <div class="category_container flex">
            <button id="prev">
              <i class="ri-arrow-left-s-fill"></i>
            </button>
            <div class="categories flex">
              <a
                href="?category=All"
                class="btn <%= category === 'All' ? 'active' : '' %>"
                >All
              </a>

              <a
                class="btn <%= category === 'Travel' ? 'active' : '' %>"
                href="?category=Travel"
                >Travel
              </a>

              <a
                class="btn <%= category === 'Sports' ? 'active' : '' %>"
                href="?category=Sports"
                >Sports
              </a>

              <a
                class="btn <%= category === 'Career' ? 'active' : '' %>"
                href="?category=Career"
                >Career
              </a>

              <a
                class="btn <%= category === 'Finance' ? 'active' : '' %>"
                href="?category=Finance"
                >Finance
              </a>

              <a
                class="btn <%= category === 'Science' ? 'active' : '' %>"
                href="?category=Science"
                >Science
              </a>

              <a
                class="btn <%= category === 'Reviews' ? 'active' : '' %>"
                href="?category=Reviews"
                >Reviews
              </a>

              <a
                class="btn <%= category === 'Business' ? 'active' : '' %>"
                href="?category=Business"
                >Business
              </a>

              <a
                class="btn <%= category === 'Education' ? 'active' : '' %>"
                href="?category=Education"
                >Education
              </a>

              <a
                class="btn <%= category === 'Parenting' ? 'active' : '' %>"
                href="?category=Parenting"
                >Parenting
              </a>

              <a
                class="btn <%= category === 'Lifestyle' ? 'active' : '' %>"
                href="?category=Lifestyle"
                >Lifestyle
              </a>

              <a
                class="btn <%= category === 'Technology' ? 'active' : '' %>"
                href="?category=Technology"
                >Technology
              </a>

              <a
                class="btn <%= category === 'Entertainment' ? 'active' : '' %>"
                href="?category=Entertainment"
                >Entertainment
              </a>

              <a
                class="btn <%= category === 'Relationships' ? 'active' : '' %>"
                href="?category=Relationships"
                >Relationships
              </a>

              <a
                class="btn <%= category === 'Home' ? 'active' : '' %>"
                href="?category=Home&search=<%= search %>"
                >Home
              </a>

              <a
                class="btn <%= category === 'Arts' ? 'active' : '' %>"
                href="?category=Arts"
                >Arts
              </a>

              <a
                class="btn <%= category === 'Culture' ? 'active' : '' %>"
                href="?category=Culture"
                >Culture
              </a>

              <a
                class="btn <%= category === 'Personaldevelopment' ? 'active' : '' %>"
                href="?category=Personaldevelopment"
                >Personaldevelopment
              </a>
            </div>
            <button id="next">
              <i class="ri-arrow-right-s-fill"></i>
            </button>
          </div>
        </div>

        <div class="blogs_container">
          <div class="blogs">
            <% if (blogs.length === 0) { %>
            <p>No blog posts found for this user.</p>
            <% } else { %> <% blogs.forEach((blog) => { %>
            <div class="blog flex flex-col">
              <div class="blog-img">
                <img src="<%= blog.imageUrl %>" alt="" />
              </div>
              <div class="blog-content flex flex-col">
                <h1 class="blog-title"><%= blog.title.slice(0,30)+'...' %></h1>
                <div class="blog-text para-font">
                  <%- blog.content.slice(0,320)+'...' %>
                </div>
                <a href="/user/blog/<%= blog.id %>">
                  <button style="display: block; width: 100%">
                    Read More...
                  </button>
                </a>
              </div>
            </div>
            <% }); %> <% } %>
          </div>

          <div class="pagination flex flex-center">
            <!-- Previous Button -->
            <% if (currentPage > 1) { %>
            <a
              href="?page=<%= currentPage - 1 %>&search=<%= search %>&category=<%= category %>"
            >
              <button class="prev">Previous</button>
            </a>
            <% } %>

            <!-- Page Numbers -->
            <% for (let i = 1; i <= totalPages; i++) { %>
            <a
              href="?page=<%= i %>&search=<%= search %>&category=<%= category %>"
            >
              <button class="page <%= currentPage === i ? 'active' : '' %>">
                <%= i %>
              </button>
            </a>
            <% } %>

            <!-- Next Button -->
            <% if (currentPage < totalPages) { %>
            <a
              href="?page=<%= currentPage + 1 %>&search=<%= search %>&category=<%= category %>"
            >
              <button class="next">Next</button>
            </a>
            <% } %>
          </div>
        </div>
      </section>

      <!-- section 5 -->
      <section class="home_section5 section-padding">
        <div class="home_section5_container flex flex-center">
          <div class="section-heading flex flex-col">
            <h1>Subscribe</h1>
            <p class="para-font">
              Stay updated with the latest posts, featured articles, and
              community news by subscribing to our newsletter.
            </p>
          </div>

          <div class="subscribe_form flex flex-center">
            <input type="email" placeholder="Email" />
            <button class="btn">Subscribe</button>
          </div>
        </div>
      </section>

      <%- include('footer') %>
    </div>

    <script src="/scripts/script.js"></script>
  </body>
</html>
